<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="topNavBar" class="row" id="topNavBar">
		<nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">

        	<div class="navbar-header">
            	<a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i></a>
			</div>

            <div class="infont col-md-9 minimalize-styl-2">

			</div>

            <ul class="nav navbar-top-links navbar-right">
				<button type="button" class="btn btn-w-m btn-primary mg_right_20" @click="totMonStatPop"><span>종합관제현황</span></button>
				<li>Hello {{userNm}}</li>
                <li>
					<a href="#" @click="logout">
                    	<i class="fa fa-sign-out"></i> 로그아웃
					</a>
				</li>
			</ul>
		</nav>
	</div>
</body>
</html>
