<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/defaultLayout}">
<head>
	<meta charset="UTF-8">
	<title>사용자</title>
</head>
<body>
<div layout:fragment="content">
	<div class="wrapper-content" id="fatJudgStndMng">
	
		<!-- 검색조건 영역 -->
		<div class="ibox m-b-sm">
			<div class="ibox-title">
				<i class="fa fa-title-bar"></i>
				<h5>검색조건</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-1 control-label">비만판정코드</label>
						<div class="col-xs-2">
							<select id="fatJudgCd" name="fatJudgCd" class="form-control" v-model="params.fatJudgCd" v-on:click="mentJudgStndNmVal()">
								<option value="">전체</option>
								<option v-for="item in code.mentFatJudgCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
							</select>
						</div>
					</div>

					<div class="form-group mg_none">
						<div class="text-center">
							<button class="btn btn-secondary" v-on:click="resetSearchParam()" type="button">
								<span class="glyphicon glyphicon-refresh"> 초기화</span>
							</button>&nbsp;
							<button type="button" class="btn btn-w-m btn-primary" v-on:click="searchFatJudgList(true)"><span>조회</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 검색조건 영역 -->
		
		<!-- 결과 리스트 영역 -->
		<div class="ibox">                                 
			<div class="ibox-content">
				<div class="form-group">
					<div class="float_left">
						<div class="ibox-title pd_none mg_top_10" style="min-height: 0px;">
							<i class="fa fa-title-bar"></i>
							<h5>비만판정 기준 목록</h5>
						</div>
					</div>
					<div class="float_right">
						<button type="button" id="btnReg" class="btn btn-outline btn-primary ladda-button mg_left_10" data-style="zoom-in" data-toggle="modal" data-target="#fatJudgStndDetlPopup" v-on:click="regFatJudgStndPop()">&nbsp;비만판정기준 등록</button>
						<button type="button" id="btnDownloadExcel" class="btn btn-outline btn-primary ladda-button mg_left_10" data-style="zoom-in" v-on:click="downloadExcel"><i class="fa fa-file-excel-o"></i>&nbsp;엑셀다운로드</button>
					</div>
					<div class="clear_both"></div>
				</div>
				<div class="form-group">
					<div id="grid_list_wrapper">
						<table id="grid_list"></table>
						<div id="grid_pager_list"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
	<div th:insert="~{svcStnd/fat/fatJudgStndDetl :: body}"></div>
</div>
<section layout:fragment="user_script">
	<script type="text/javascript" th:src="@{/js/editor/summernote.js}"></script>

	<script type="text/javascript" th:src="@{/js/svcStnd/fat/fatJudgStndMng.js}"></script>
	<script type="text/javascript" th:src="@{/js/svcStnd/fat/fatJudgStndDetl.js}"></script>
</section>
</body>
</html>