<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:remove="tag">
<div class="modal fade" id="guarInfoDetlPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog-wrap">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="width: 680px; padding-bottom:20px;" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="ibox-title">
						<i class="fa fa-title-bar"></i>
						<h5>보호자 정보</h5>
					</div>
				</div>
				<div class="modal-body">
					<div class="row mg_none" style="width:100%">
						<div class="pd_left_none pd_right_none col-xs-6 float_left">
							<div class="ibox-content border-style_none" style="padding-right:0px;">
								<table class="table table-bordered table_view">
									<colgroup>
										<col class="col-xs-4" />
										<col class="col-xs-8" />
									</colgroup>
									<tbody>
										<tr v-if="params.stdtNo != '' ">
											<th scope="row">학생 번호</th>
											<td>
												<div>
													<input type="text" name="stdtNo" v-model="params.stdtNo" class="form-control float_left width_per_100 ime-eng" readonly="readonly" />
												</div>
											</td>
										</tr>
										<tr v-if="params.stdtNo != '' ">
											<th scope="row">학생 이름</th>
											<td>
												<div>
													<input type="text" name="stdtNm" v-model="params.stdtNm" class="form-control float_left width_per_100 ime-eng" readonly="readonly" />
												</div>
											</td>
										</tr>
										<tr v-if="params.guarNo != '' ">
											<th scope="row">보호자 번호</th>
											<td>
												<div>
													<input type="text" name="guarNo" v-model="params.guarNo" class="form-control float_left width_per_100 ime-eng" readonly="readonly" />
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">학부모 번호</th>
											<td>
												<div>
													<input type="text" name="prntNo" v-model="params.prntNo" class="form-control float_left width_per_100 ime-eng" readonly="readonly" />
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">보호자 이름</th>
											<td>
												<div>
													<input type="text" name="guarNm" v-model="params.guarNm" class="form-control float_left width_per_100 ime-eng"/>
												</div>
											</td>
										</tr>
										<tr>
											<th scope="row">보호자 전화 번호</th>
											<td>
												<input type="text" name=guarTelNo v-model="params.guarTelNo" class="form-control float_left width_per_100 ime-eng" readonly="readonly"/>
											</td>
										</tr>
										<tr>
											<th scope="row">보호자 비밀번호</th>
											<td>
												<!--<input type="text" name="guarPw" v-model="params.guarPw" class="form-control float_left width_per_60 ime-eng"/>-->
												<button type="button" class="btn btn-w-m btn-primary" v-on:click=""  :disabled="params.crud=='C'" ><span>초기화</span></button>
											</td>
										</tr>
											<th scope="row">가입 상태</th>
											<td>
												<select id="entrStatCd" name="entrStatCd" class="form-control width_per_100 ime-eng" v-model="params.entrStatCd">
													<option value="">선택</option>
													<option v-for="item in code.entrStatCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>

												</select>
											</td>
										</tr>
										<tr>
											<th scope="row">가입 일자</th>
											<td>
												<input type="date" name="entrDt" :value="params.entrDt"  v-model="params.entrDt" class="form-control float_left width_per_100 ime-eng"/>
											</td>
										</tr>
										<tr>
											<th scope="row">해지 일자</th>
											<td>
												<input type="date" name="relsDt" :value="params.relsDt" v-model="params.relsDt" class="form-control float_left width_per_100 ime-eng" :readonly="params.entrStatCd !='90'"/>
											</td>
										</tr>
										<tr>
											<th scope="row">해지 사유</th>
											<td>
												<select id="relsResnCd" name="relsResnCd" class="form-control width_per_100 ime-eng" v-model="params.relsResnCd" :readonly="params.entrStatCd !='90'">
													<option value="">선택</option>
													<option v-for="item in code.relsResnCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
												</select>
											</td>
										</tr>
										<tr>
											<th scope="row">해지 사유 내용</th>
											<td>
												<input type="text" name="relsResnCntn" v-model="params.relsResnCntn" class="form-control float_left width_per_100 ime-eng" :readonly="params.entrStatCd !='90'"/>
											</td>
										</tr>
										<tr>
											<th scope="row">장치 인증 값</th>
											<td>
												<input type="text" name="devcCertVal" v-model="params.devcCertVal" class="form-control float_left width_per_100 ime-eng" readonly="readonly"/>
											</td>
										</tr>
										<tr>
										<tr>
											<th scope="row">FCM 토근 값</th>
											<td>
												<input type="text" name="fcmToknVal" v-model="params.fcmToknVal" class="form-control float_left width_per_100 ime-eng" readonly="readonly"/>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="pd_left_none pd_right_none col-xs-6 float_left">
							<div class="ibox-content border-style_none">
								<table class="table table-bordered table_view">
									<colgroup>
										<col class="col-xs-6" />
										<col class="col-xs-6" />
									</colgroup>
									<tbody>
										<tr>
											<th scope="row">자동 로그인 여부</th>
											<td>
												<input type="radio" name="autoLoginYn" v-model="params.autoLoginYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="autoLoginYn" v-model="params.autoLoginYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
										<tr>
										<tr>
											<th scope="row">위험지역 알림 여부</th>
											<td>
												<input type="radio" name="dzoneAlamYn" v-model="params.dzoneAlamYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="dzoneAlamYn" v-model="params.dzoneAlamYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
										<tr>
											<th scope="row">세이프존 알림 여부</th>
											<td>
												<input type="radio" name="szoneAlamYn" v-model="params.szoneAlamYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="szoneAlamYn" v-model="params.szoneAlamYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
										<tr>
											<th scope="row">낙상 발생 알림 여부</th>
											<td>
												<input type="radio" name="fallAlamYn" v-model="params.fallAlamYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="fallAlamYn" v-model="params.fallAlamYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
										<tr>
											<th scope="row">심박 이상 알림 여부</th>
											<td>
												<input type="radio" name="hbitAbnmAlamYn" v-model="params.hbitAbnmAlamYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="hbitAbnmAlamYn" v-model="params.hbitAbnmAlamYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
										<tr>
											<th scope="row">체온 이상 알림 여부</th>
											<td>
												<input type="radio" name="tempAbnmAlamYn" v-model="params.tempAbnmAlamYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="tempAbnmAlamYn" v-model="params.tempAbnmAlamYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
										<tr>
											<th scope="row">신체 기록 알림 여부</th>
											<td>
												<input type="radio" name="bodyHistAlamYn" v-model="params.bodyHistAlamYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="bodyHistAlamYn" v-model="params.bodyHistAlamYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
										<tr>
											<th scope="row">식사 미입력 알림 여부</th>
											<td>
												<input type="radio" name="mealNinpAlamYn" v-model="params.mealNinpAlamYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="mealNinpAlamYn" v-model="params.mealNinpAlamYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
										<tr>
											<th scope="row">운동 미입력 알림 여부</th>
											<td>
												<input type="radio" name="excsNinpAlamYn" v-model="params.excsNinpAlamYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="excsNinpAlamYn" v-model="params.excsNinpAlamYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
										<tr>
											<th scope="row">캐시비 사용 알림 여부</th>
											<td>
												<input type="radio" name="cbeeUseAlamYn" v-model="params.cbeeUseAlamYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="cbeeUseAlamYn" v-model="params.cbeeUseAlamYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
										<tr>
											<th scope="row">배터리 부족 알림 여부</th>
											<td>
												<input type="radio" name="batrLackAlamYn" v-model="params.batrLackAlamYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="batrLackAlamYn" v-model="params.batrLackAlamYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
										<tr>
											<th scope="row">장기 미사용 알림 여부</th>
											<td>
												<input type="radio" name="ltrmNuseAlamYn" v-model="params.ltrmNuseAlamYn" value="Y" /><span style="margin-right:5px;">&nbspY</span>
												<input type="radio" name="ltrmNuseAlamYn" v-model="params.ltrmNuseAlamYn" value="N"/><span>&nbspN</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
            	</div>
            	<div class="modal-footer">
					<div class="text-center">
						<div class="disp_in_block width_per_20 mg_right_15">
							<button type="button" class="btn btn-outline btn-primary form-control" v-on:click="saveguarInfoDetl">저장</button>
						</div>
<!--						<div v-if="params.crud=='U'" class="disp_in_block width_per_20 mg_right_15">
							<button type="button" class="btn btn-outline btn-primary form-control" v-on:click="deleteUser">삭제</button>
						</div>-->
						<div class="disp_in_block width_per_20">
							<input type="button" data-dismiss="modal" class="form-control" th:value="닫기">
						</div>
					</div>
				</div>			
            </div>
        </div>
    </div>
</div>
