<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/tabLayout}">
<head>
</head>
<body>
    <div layout:fragment="content">
		<div id="indexApp" class="animated row" v-cloak>
			<div class="tab-scroller tab-scroller-left float-left">
				<a href="#" @click="moveTab('left')"><i class="fa fa-chevron-left"></i></a>
			</div>

			<div class="tab-scroller tab-scroller-right float-right">
				<div class="btn-g btn-group-sm disp_in_block" role="group">
					<button type="button" class="btn btn-primary" @click="reloadTab(currentMenu.menuNo)">
						<i class="fa fa-refresh"></i> <span>새로고침</span>
					</button>
					<button type="button" class="btn btn-success" @click="windowOpen(currentMenu.menuNo)">
						<i class="fa fa-external-link" aria-hidden="true"></i><span>새창</span>
					</button>
					<button v-if="currentMenu.menuNo !== '1'" class="btn btn-danger" @click="closeTab(currentMenu.menuNo)">
						<i class="fa fa-times" aria-hidden="true"></i> <span>닫기</span>
					</button>
					<button v-if="menuList.length > 1" id="btn-close-tab" type="button" class="btn btn-default" @click="closeAllTabs">
						<i class="fa fa-clone" aria-hidden="true"></i> <span>전체닫기</span>
					</button>
				</div>
			</div>

			<div class="tab-scroller tab-scroller-right float-right">
				<a href="#" @click="moveTab('right')"><i class="fa fa-chevron-right"></i></a>
			</div>

			<div class="tab-elements">

				<ul id="tab-list" class="nav nav-tabs" role="tablist">
					<li v-for="(menu, index) in menuList" :class="{'active': currentTab === menu.menuNo }" :id="'tab-menu-' + menu.menuNo">
						<a href="javascript:void(0)" @click="activeTab(menu.menuNo)">
							<span>{{menu.menuNm}}</span>
							</template>
							<template v-if="index > 0">
								<button class="close" type="button" title="Remove this page" @click="closeTab(menu.menuNo)">
									<i class="fa fa-close"></i>
								</button>
							</template>
						</a>
					</li>
				</ul>
			</div>


			<div id="tab-content" class="tab-content">
				<div v-for="(menu, index) in menuList" class="tab-pane" :id="'tab' + menu.menuNo" :class="{'active': currentTab === menu.menuNo}">
					<iframe :id="'tabFrame_' + menu.menuNo" :data-frame="menu.menuNo" @load="loadFrame(menu.menuNo);" style="display:block; width:100%; border: none;" scrolling="auto" frameborder="0" border="" :src="menu.menuUrl"></iframe>
				</div>
			</div>
		</div>
	</div>

	<!-- User Script Area Start //-->
	<section layout:fragment="user_script">
		<script type="text/javascript" th:src="@{/js/common/main/index.js}"></script>
		<script type="text/javascript" th:src="@{/js/common/main/navigation.js}"></script>
		<script type="text/javascript" th:src="@{/js/common/main/topNavBar.js}"></script>
	</section>
</body>
</html>