<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/defaultLayout}">
<head>
	<meta charset="UTF-8">
	<title>캐시비 이력</title>
</head>
<body>
<div layout:fragment="content">
	<div class="wrapper-content" id="cbeeHist">

		<!-- 검색조건 영역 -->
		<div class="ibox m-b-sm">
			<div class="ibox-title">
				<i class="fa fa-title-bar"></i>
				<h5>검색조건</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-1 control-label" >기준일자</label>
						<div class="col-xs-2">
							<div class="input-group date" id="occrDttmFrPicker">
								<input type="text" id="occrDttmFr" name="occrDttmFr" v-model="params.occrDttmFr" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"  ></i></span>
							</div>
						</div>
						<div class="col-xs-2">
							<div class="input-group date" id="occrDttmToPicker">
								<input type="text" id="occrDttmTo" name="occrDttmTo" v-model="params.occrDttmTo" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"  ></i></span>
							</div>
						</div>
						<!--이번 달-->
						<div class="col-xs-1" style="padding-left:0px; padding-right:0px; margin-left:15px;">
							<select id="bDPer" name="bDPer" class="form-control" style=" margin-right:15px;" v-model="params.bDPer" v-on:change="bDPerSelect">
								<option value="">전체</option>
								<option v-for="item in code.bDPerList" v-bind:value="item.value" v-text="item.text"></option>
							</select>
						</div>
						<label class="col-xs-1 control-label" >학생번호</label>
						<div class="col-xs-1" style="padding:0px" >
							<input type="text" name="stdtNo" class="form-control"  v-model="params.stdtNo" v-digitonly.number>
						</div>
						<label class="col-xs-1 control-label">학생명</label>
						<div class="col-xs-2"  style="padding-left:0px;" >
							<input type="text" name="stdtNm" class="form-control" v-model="params.stdtNm">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-1 control-label">학교(학원)명</label>
						<div class="col-xs-1" style="padding:0px; margin-left: 15px;" >
							<input type="text" name="locNm" class="form-control" v-model="params.locNm">
						</div>
						<label class="col-xs-1 control-label" >보호자번호</label>
						<div class="col-xs-1"   style="padding:0px">
							<input type="text" name="guarNo" class="form-control" v-model="params.guarNo" v-digitonly.number>
						</div>
						<label class="col-xs-1 control-label">보호자명</label>
						<div class="col-xs-2"  style="padding-left:0px;" >
							<input type="text" name="guarNm" class="form-control" v-model="params.guarNm">
						</div>
					</div>
					<div class="form-group mg_none">
						<div class="text-center" style="margin:10px 0px 10px 0px;">
							<button class="btn btn-secondary" @click="resetSearchParam()" type="button">
								<span class="glyphicon glyphicon-refresh"> 초기화</span>
							</button>&nbsp;
							<button type="button" class="btn btn-w-m btn-primary" @click="searchCbeeHistList(true)"><span>조회</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 검색조건 영역 -->
		
		<!-- 결과 리스트 영역 -->
		<div class="ibox">                                 
			<div class="ibox-content">
				<div class="form-group">
					<div class="float_left">
						<div class="ibox-title pd_none mg_top_10" style="min-height: 0px;">
							<i class="fa fa-title-bar"></i>
							<h5>캐시비 이력 목록</h5>
						</div>
					</div>
					<div class="float_right">
						<button type="button" id="btnDownloadExcel" class="btn btn-outline btn-primary ladda-button mg_left_10" data-style="zoom-in" v-on:click="downloadExcel"><i class="fa fa-file-excel-o"></i>&nbsp;엑셀다운로드</button>
					</div>
					<div class="clear_both"></div>
				</div>
				<div class="form-group">
					<div id="cbeeHist_list_wrapper">
						<table id="cbeeHist_list"></table>
						<div id="cbeeHist_pager_list"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<section layout:fragment="user_script">
	<script type="text/javascript" th:src="@{/js/oper/cbee/cbeeHist.js}"></script>
</section>
</body>
</html>