<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/defaultLayout}">
<head>
	<meta charset="UTF-8">
	<title>사용자</title>
</head>
<body>
<div layout:fragment="content">
	<div class="wrapper-content" id="btchJobHist">

		<!-- 검색조건 영역 -->
		<div class="ibox m-b-sm">
			<div class="ibox-title">
				<i class="fa fa-title-bar"></i>
				<h5>검색조건</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-1 control-label" >시작일자</label>
						<div class="col-xs-1" style="width: 10%;padding-right: 0px">
							<div class="input-group date" id="entrDtFrPicker">
								<input type="text" id="entrDtFr" name="entrDtFr" v-model="params.entrDtFr" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<div class="col-xs-1" style="width: 10%;padding-left: 0px;padding-right: 0px;">
							<div class="float_left width_20 mg_top_8 text-center">~</div>
							<div class="input-group date" id="entrDtToPicker">
								<input type="text" id="entrDtTo" name="entrDtTo" v-model="params.entrDtTo" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<!--이번 달-->
						<div class="col-xs-1" style="padding:0px; margin-right:5px;margin-left:5px;" >
							<select id="mmDd" name="mmDd" class="form-control" style=" margin-right:15px;" v-model="params.mmDd" v-on:change="mmDdSelect">
								<option value="">전체</option>
								<option v-for="item in code.mmDdList" v-bind:value="item.value" v-text="item.text"></option>
							</select>
						</div>
						<label class="col-xs-1 control-label" >종료일자</label>
						<div class="col-xs-1" style="width: 10%;padding-right: 0px">
							<div class="input-group date" id="endDtFrPicker">
								<input type="text" id="endDtFr" name="endDtFr" v-model="params.endDtFr" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<div class="col-xs-1" style="width: 10%;padding-left: 0px;padding-right: 0px;">
							<div class="float_left width_20 mg_top_8 text-center">~</div>
							<div class="input-group date" id="endDtToPicker">
								<input type="text" id="endDtTo" name="endDtTo" v-model="params.endDtTo" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<!--이번 달-->
						<div class="col-xs-1" style="padding:0px; margin-right:5px; margin-left: 5px" >
							<select id="mmDd2" name="mmDd2" class="form-control" style=" margin-right:15px;" v-model="params.mmDd2" v-on:change="mmDdSelect2">
								<option value="">전체</option>
								<option v-for="item in code.mmDdList2" v-bind:value="item.value" v-text="item.text"></option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="clear_both"></div>
						<label class="col-xs-1 control-label">작업ID</label>
						<div class="col-xs-1"  style="width: 10%">
							<input type="text" name="jobId" class="form-control" v-model="params.jobId">
						</div>
						<label class="col-xs-1 control-label" style="width: 10%">작업명</label>
						<div class="col-xs-1" style="padding:0px; margin-right:5px;margin-left: 5px">
							<input type="text" name="jobNm" class="form-control" v-model="params.jobNm">
						</div>
						<label class="col-xs-1 control-label">결과코드</label>
						<div class="col-xs-1"  style="width: 10%">
							<input type="text" name="rsltCd" class="form-control"  v-model="params.rsltCd">
						</div>
					</div>
					<div class="form-group mg_none">
						<div class="text-center">
							<button class="btn btn-secondary" v-on:click="resetSearchParam()" type="button">
								<span class="glyphicon glyphicon-refresh"> 초기화</span>
							</button>&nbsp;
							<button type="button" class="btn btn-w-m btn-primary" v-on:click="searchLocHistList(true)"><span>조회</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 검색조건 영역 -->

		<!-- 결과 리스트 영역 -->
		<div class="ibox">
			<div class="ibox-content">
				<div class="form-group">
					<div class="float_left">
						<div class="ibox-title pd_none mg_top_10" style="min-height: 0px;">
							<i class="fa fa-title-bar"></i>
							<h5>배치작업이력 목록</h5>
						</div>
					</div>
					<div class="float_right">
						<button type="button" id="btnDownloadExcel" class="btn btn-outline btn-primary ladda-button mg_left_10" data-style="zoom-in" v-on:click="downloadExcel"><i class="fa fa-file-excel-o"></i>&nbsp;엑셀다운로드</button>
					</div>
					<div class="clear_both"></div>
				</div>
				<div class="form-group">
					<div id="grid_list_wrapper">
						<table id="grid_list"></table>
						<div id="grid_pager_list"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<section layout:fragment="user_script">
	<script type="text/javascript" th:src="@{/js/oper/sys/btchJobHist.js}"></script>
</section>
</body>
</html>
