<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:remove="tag">
<div class="modal fade" id="eatHistDetlPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog-wrap">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="width: 920px; height:800px; padding-bottom: 20px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="ibox-title">
						<i class="fa fa-title-bar"></i>
						<h5>섭취 이력 상세</h5>
					</div>
				</div>
				<div class="modal-body">
					<div class="row mg_none" style="width:100%">
						<div class="pd_left_none pd_right_none col-xs-5 float_left">
							<div style="width:100px; margin-top:15px; margin-left:15px; margin-bottom:2px;float:left;">
								<h5 style="height: 15px;">식단 정보</h5>
							</div>
							<div class="ibox-content border-style_none" style="padding-right:0px;padding-top:0px;">
								<table class="table table-bordered table_view">
									<colgroup>
										<col class="col-xs-4" />
										<col class="col-xs-8" />
									</colgroup>
									<tbody>
									<tr>
										<th scope="row">식단 명</th>
										<td>
											<div>
												<input type="text" name="fmenuNm" v-model="params.fmenuSpec.fmenuNm" class="form-control float_left width_per_100 ime-eng" readonly="readonly" />
											</div>
										</td>
									</tr>
									<tr>
										<th scope="row">유형</th>
										<td>
											<div>
												<input type="text" name="fmenuCtgry" v-model="params.fmenuSpec.fmenuCtgry" class="form-control float_left width_per_100 ime-eng" readonly="readonly" />
											</div>
										</td>
									</tr>
									<tr>
										<th scope="row">식단 용량</th>
										<td>
											<div>
												<input type="text" name="fmenuQty" v-model="params.fmenuSpec.fmenuQty" class="form-control float_left width_per_100 ime-eng" readonly="readonly" />
											</div>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
							<div style="width:100px; margin:7px 0px 2px 15px;float:left;">
								<h5 style="height: 15px;">식단 구성</h5>
							</div>
							<div class="ibox-content border-style_none" style="height: 200px; padding-top:0px; padding-right:5px; margin-bottom: 20px;">
								<div class="form-group" style="height: 200px">
									<div id="fmenuSpec_list_wrapper" >
										<table id="fmenuSpec_list"></table>
										<div id="fmenuSpec_pager_list"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="pd_left_none pd_right_none col-xs-7 float_left">
							<div style="width:500px; margin-top:15px; margin-left:30px; margin-bottom:2px;float:left;">
								<h5 style="height: 15px;">섭취 영양 정보<span v-text="params.eatNutrSpec.foodNo != null ? ' ( '+params.eatNutrSpec.foodNm+' ) ':'' "></span></h5>
							</div>
							<div class="ibox-content border-style_none" style="padding-top:0px;">
								<div class="ibox-content border-style_none" style="padding-top:0px;margin-bottom: 20px;">
									<div class="form-group" style="height: 200px">
										<div id="eatNutrSpec_list_wrapper" >
											<table id="eatNutrSpec_list"></table>
											<div id="eatNutrSpec_pager_list"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" style="margin-top:20px;">
					<div class="text-center">
						<div class="disp_in_block width_per_20">
								<input type="button" data-dismiss="modal" class="form-control" th:value="닫기">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
