<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/defaultLayout}">
<head>
	<meta charset="UTF-8">
	<title>비만예측설문조사 이력</title>
</head>
<body>
<div layout:fragment="content">
	<div class="wrapper-content" id="fatpQustHist">

		<!-- 검색조건 영역 -->
		<div class="ibox m-b-sm">
			<div class="ibox-title">
				<i class="fa fa-title-bar"></i>
				<h5>검색조건</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-1 control-label" >기준일자</label>
						<div class="col-xs-2" style="padding-right: 0px">
							<div class="input-group date" id="fatpQustDtFrPicker">
								<input type="text" id="fatpQustDtFr" name="fatpQustDtFr" v-model="params.stndDtFr" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"  ></i></span>
							</div>
						</div>
						<div class="col-xs-2" style="padding-left: 0px">
							<div class="float_left width_20 mg_top_8 text-center">~</div>
							<div class="input-group date" id="fatpQustDtToPicker">
								<input type="text" id="fatpQustDtTo" name="fatpQustDtTo" v-model="params.stndDtTo" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"  ></i></span>
							</div>
						</div>
						<!--이번 달-->
						<div class="col-xs-1" style="padding-left:0px; padding-right:0px; margin-left:15px;">
							<select id="bDPer" name="bDPer" class="form-control" style=" margin-right:15px;" v-model="params.bDPer" v-on:change="bDPerSelect">
								<option value="">전체</option>
								<option v-for="item in code.bDPerList" v-bind:value="item.value" v-text="item.text"></option>
							</select>
						</div>
						<label class="col-xs-1 control-label" >학생번호</label>
						<div class="col-xs-1" style="padding:0px" >
							<input type="text" name="stdtNo" class="form-control"  v-model="params.stdtNo" v-digitonly.number v-on:keyup.enter="checkSearch">
						</div>
						<label class="col-xs-1 control-label" style="margin-right:20px;">학생명</label>
						<div class="col-xs-1"  style="padding-left:0px; padding-right:0px;" >
							<input type="text" name="stdtNm" class="form-control" v-model="params.stdtNm" v-on:keyup.enter="checkSearch">
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-1 control-label" >나이</label>
						<div class="col-xs-1"  style="padding:0px; margin-left: 15px;" >
							<input type="text" name="ageFr" class="form-control"  v-model="params.ageFr" v-digitonly.number v-on:keyup.enter="checkSearch">
						</div>
						<label class="col-xs-1 control-label"style="margin-left:10px; width:5px;">~</label>
						<div class="col-xs-1" style="padding:0px;">
							<input type="text" name="ageTo" class="form-control" style="padding-left:0px; padding-right:0px;"v-model="params.ageTo" v-digitonly.number v-on:keyup.enter="checkSearch">
						</div>
						<label class="col-xs-1 control-label" style="margin-left: -40px;" > </label>
						<label class="col-xs-1 control-label">성별</label>
						<div class="col-xs-1"style="padding-left:0px; padding-right:0px; margin-left:0px;">
							<select id="sexCd" name="sexCd" class="form-control" v-model="params.sexCd">
								<option value="">전체</option>
								<option v-for="item in code.sexCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
							</select>
						</div>
						<label class="col-xs-1 control-label" >비만예측지수</label>
						<div class="col-xs-1" style="padding:0px" >
							<input type="text" name="fatpIdxFr" class="form-control"  v-model="params.fatpIdxFr" v-digitonly.number v-on:keyup.enter="checkSearch">
						</div>
						<div class="float_left width_20 mg_top_8 text-center">~</div>
						<div class="col-xs-1" style="padding:0px;">
							<input type="text" name="fatpIdxTo" class="form-control" style="padding-left:0px; padding-right:0px;"v-model="params.fatpIdxTo" v-digitonly.number v-on:keyup.enter="checkSearch">
						</div>
					</div>
					<div class="form-group mg_none">
						<div class="text-center" style="margin:10px 0px 10px 0px;">
							<button class="btn btn-secondary" @click="resetSearchParam()" type="button">
								<span class="glyphicon glyphicon-refresh"> 초기화</span>
							</button>&nbsp;
							<button type="button" class="btn btn-w-m btn-primary" @click="searchFatpQustHistList(true)"><span>조회</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 검색조건 영역 -->
		<!-- 결과 리스트 영역 -->
		<div class="ibox">                                 
			<div class="ibox-content">
				<div class="form-group">
					<div class="float_left">
						<div class="ibox-title pd_none mg_top_10" style="min-height: 0px;">
							<i class="fa fa-title-bar"></i>
							<h5>비만예측설문조사 이력 목록</h5>
						</div>
					</div>
					<div class="float_right">
						<button type="button" id="btnDownloadExcel" class="btn btn-outline btn-primary ladda-button " data-style="zoom-in" v-on:click="downloadExcel"><i class="fa fa-file-excel-o"></i>&nbsp;엑셀다운로드</button>
					</div>
					<div class="clear_both"></div>
				</div>
				<div class="form-group">
					<div id="fatpQustHist_list_wrapper">
						<table id="fatpQustHist_list"></table>
						<div id="fatpQustHist_pager_list"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<section layout:fragment="user_script">
	<script type="text/javascript" th:src="@{/js/oper/hc/fatpQustHist.js}"></script>
</section>
</body>
</html>