<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/defaultLayout}">
<head>
	<meta charset="UTF-8">
	<title>보호자 식단표 현황</title>
</head>
<body>
<div layout:fragment="content">
	<div class="wrapper-content" id="guarFmenuHist">

		<!-- 검색조건 영역 -->
		<div class="ibox m-b-sm">
			<div class="ibox-title">
				<i class="fa fa-title-bar"></i>
				<h5>검색조건</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-1 control-label" >식단표 명</label>
						<div class="col-xs-1"  style="padding:0px;" >
							<input type="text" name="fmenuNm" class="form-control"  v-model="params.fmenuNm" >
						</div>
						<label class="col-xs-1 control-label" >총 칼로리</label>
						<div class="col-xs-1"  style="padding:0px;" >
							<input type="text" name="totCal" class="form-control"  v-model="params.totCal" >
						</div>
						<label class="col-xs-1 control-label" >포함 음식 1</label>
						<div class="col-xs-1"  style="padding:0px; ">
							<input type="text" name="foodNm1" class="form-control"  v-model="params.foodNm1" >
						</div>
						<label class="col-xs-1 control-label" >포함 음식 2</label>
						<div class="col-xs-1"  style="padding:0px; ">
							<input type="text" name="foodNm2" class="form-control"  v-model="params.foodNm2" >
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-1 control-label">보호자명 </label>
						<div class="col-xs-1"  style="padding:0px" >
							<input type="text" name="guarNm" class="form-control" v-model="params.guarNm">
						</div>
						<label class="col-xs-1 control-label" >보호자번호</label>
						<div class="col-xs-1"   style="padding:0px">
							<input type="text" name="guarNo" class="form-control" v-model="params.guarNo" v-digitonly.number>
						</div>
						<label class="col-xs-1 control-label">식때구분 : </label>
						<label class="col-xs-1 control-label"style="padding:7px 0px 0px 0px; width:40px;">아침</label>
						<div class="col-xs-1"  style=" padding:6px 0px 0px 10px; width:30px;" >
							<input type="checkbox" name="mmelYn" v-model="params.mmelYn" true-value="Y" false-value="N">
						</div>
						<label class="col-xs-1 control-label"style="padding:7px 0px 0px 0px; width:40px;">점심</label>
						<div class="col-xs-1"  style="padding:6px 0px 0px 10px; width:30px;" >
							<input type="checkbox" name="amelYn" v-model="params.amelYn" true-value="Y" false-value="N">
						</div>
						<label class="col-xs-1 control-label"style="padding:7px 0px 0px 0px;  width:40px;">저녁</label>
						<div class="col-xs-1"  style="padding:6px 0px 0px 10px; width:30px;" >
							<input type="checkbox" name="emelYn" v-model="params.emelYn" true-value="Y" false-value="N">
						</div>
						<label class="col-xs-1 control-label"style="padding:7px 0px 0px 0px;  width:40px;">간식</label>
						<div class="col-xs-1"  style="padding:6px 0px 0px 10px; width:30px;">
							<input type="checkbox" name="smelYn" v-model="params.smelYn" true-value="Y" false-value="N">
						</div>
					</div>
					<div class="form-group mg_none">
						<div class="text-center" style="margin:10px 0px 10px 0px;">
							<button class="btn btn-secondary" @click="resetSearchParam()" type="button">
								<span class="glyphicon glyphicon-refresh"> 초기화</span>
							</button>&nbsp;
							<button type="button" class="btn btn-w-m btn-primary" @click="searchGuarFmenuHistList(true)"><span>조회</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 검색조건 영역 -->
		
		<!-- 결과 리스트 영역 -->
		<div class="ibox">                                 
			<div class="ibox-content">
				<div class="form-group">
					<div class="float_left">
						<div class="ibox-title pd_none mg_top_10" style="min-height: 0px;">
							<i class="fa fa-title-bar"></i>
							<h5>보호자 식단표 현황 목록</h5>
						</div>
					</div>
					<div class="float_right">
						<button type="button" id="btnDownloadExcel" class="btn btn-outline btn-primary ladda-button mg_left_10" data-style="zoom-in" v-on:click="downloadExcel"><i class="fa fa-file-excel-o"></i>&nbsp;엑셀다운로드</button>
					</div>
					<div class="clear_both"></div>
				</div>
				<div class="form-group">
					<div id="guarFmenuHist_list_wrapper">
						<table id="guarFmenuHist_list"></table>
						<div id="guarFmenuHist_pager_list"></div>
					</div>
				</div>
			</div>
		</div>
    </div>
</div>
<section layout:fragment="user_script">
	<script type="text/javascript" th:src="@{/js/oper/hc/guarFmenuHist.js}"></script>
</section>
</body>
</html>