<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:v-bind="http://www.w3.org/1999/xhtml"
	  xmlns:v-on="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{common/layout/defaultLayout}">
<head>
	<meta charset="UTF-8">
	<title>위치정보관리</title>
</head>
<body>
<div layout:fragment="content">
	<div class="wrapper-content" id="locInfoMng">

		<!-- 검색조건 영역 시작 -->
		<div class="ibox m-b-sm">
			<div class="ibox-title">
				<i class="fa fa-title-bar"></i>
				<h5>검색조건</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="form-horizontal">
					<div class="col-xs-12 form-group">
						<label class="col-xs-1 control-label">장소구분</label>
						<div class="col-xs-2">
							<select id="plcClssCd" name="plcClssCd" class="form-control" v-model="params.plcClssCd" @change ="changePlcClssCd()">
								<option value="">전체</option>
								<option v-for="item in code.plcClssCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
							</select>
						</div>
						<label class="col-xs-1 control-label">장소구분상세</label>
						<div class="col-xs-2">
							<select id="plcCd" name="plcCd" class="form-control" v-model="params.plcCd" @change ="changePlcCd()">
								<option value="">전체</option>
								<option v-for="item in code.plcCdListFilter" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
							</select>
						</div>
						<label class="col-xs-1 control-label text-right"> 보호자 / 학생</label>

						<div class="col-xs-1 width_40">
							<button type="button" id="btnStdtGuarPopup" class="btn btn-outline btn-primary ladda-button mg_left_none height_34" data-style="zoom-in" data-toggle="modal" data-target="#locStdtGuarPopup" v-on:click="locStdtGuarPopup">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
						<div class="col-xs-1 pd_right_none">
							<input type="text" name="stdtNm" class="form-control"  v-model="params.guarNo">
						</div>
						<div class="col-xs-1 pd_none">
							<input type="text" name="stdtNm" class="form-control"  v-model="params.guarNm">
						</div>
						<div class="col-xs-1 pd_right_none">
							<input type="text" name="stdtNm" class="form-control"  v-model="params.stdtNo">
						</div>
						<div class="col-xs-1 pd_none">
							<input type="text" name="stdtNm" class="form-control"  v-model="params.stdtNm">
						</div>
<!--						<div class="col-xs-2">-->
<!--							<select id="guarNo" name="guarNo" class="form-control" v-model="params.guarNo" @change="changeGuarNo()">-->
<!--								<option value="">전체</option>-->
<!--								<option v-for="item in code.guarNoList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>-->
<!--							</select>-->
<!--						</div>-->
<!--						<div class="col-xs-2">-->
<!--							<select id="stdtNo" name="stdtNo" class="form-control" v-model="params.stdtNo" @change="changeStdtNo()">-->
<!--								<option value="">전체</option>-->
<!--								<option v-for="item in code.stdtNoListFilter" v-bind:value="item.cdVal" v-text="item.cdNm"></option>-->
<!--							</select>-->
<!--						</div>-->
					</div>
					<div class="col-xs-12 form-group">
						<label class="col-xs-1 control-label">장소명</label>
						<div class="col-xs-2">
							<select id="wordHead1" name="wordHead1" class="form-control" v-model="params.wordHead1" @change="changeWordHead1()">
								<option value="">전체</option>
								<option v-for="item in code.wordHead1List" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
							</select>
						</div>
						<div class="col-xs-2">
							<select id="wordHead2" name="wordHead2" class="form-control" v-model="params.wordHead2" @change="changeWordHead2()">
								<option value="">전체</option>
								<option v-for="item in code.wordHead2ListFilter" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
							</select>
						</div>
						<div class="col-xs-2">
							<input id="locNm" type="text" name ="locNm" class="form-control" v-model="params.locNm" v-on:input="input_lenth">
						</div>
						<div class="col-xs-3">
							<input type="radio" v-icheck name="rdGorgGuarDiv" v-model="params.rdGorgGuarDiv" value="ALL" /><span style="margin-right:5px;">&nbsp;&nbsp;전체&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<input type="radio" v-icheck name="rdGorgGuarDiv" v-model="params.rdGorgGuarDiv" value="GORG"/><span>&nbsp;&nbsp;공공데이터&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
							<input type="radio" v-icheck name="rdGorgGuarDiv" v-model="params.rdGorgGuarDiv" value="GUAR"/><span>&nbsp;&nbsp;보호자지정</span>
						</div>
<!--						<label class="col-xs-1 control-label">보호자번호</label>-->
<!--						<div class="col-xs-2">-->
<!--							<input type="text" name ="guarNo" class="form-control" v-model="params.guarNo">-->
<!--						</div>-->
					</div>
					<div class="form-group mg_none">
						<div class="text-center">
							<button class="btn btn-secondary" v-on:click="resetSearchParam()" type="button">
								<span class="glyphicon glyphicon-refresh"> 초기화</span>
							</button>&nbsp;
							<button type="button" class="btn btn-w-m btn-primary" v-on:click="searchLocInfoList(true)"><span>조회</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 검색조건 영역 끝 -->

		<!-- 결과 리스트 영역 시작-->
		<div class="row">
			<div class="col-xs-4">
				<div class="ibox-title">
					<i class="fa fa-title-bar"></i>
					<h5>위치 목록</h5>
					<div class="float_right">
						<button type="button" class="btn btn-outline btn-primary ladda-button mg_left_10" data-style="zoom-in" v-on:click="downloadExcelLocInfoList"><i class="fa fa-file-excel-o"></i>&nbsp;엑셀다운로드</button>
					</div>
				</div>
				<div class="ibox-content">
					<div class="form-group">
						<div id="locInfo_list_wrapper">
							<table id="locInfo_list"></table>
							<div id="locInfo_pager_list"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="ibox">
					<div class="ibox-title">
						<div class="col-xs-1">
							<h5>상세정보</h5>
						</div>
						<div class="float_center col-xs-4">
							<label class="col-xs-4 control-label text-right mg_top_8 pd_right_none">보호자 / 학생</label>
							<div class="col-xs-4" style="padding-right: 0px;">
								<select id="guarNoSpec" name="guarNo" class="form-control" v-model="locInfoSpec.guarNo" :disabled="locInfoSpec.rdGorgGuarDivSpec!='GUAR' || locInfoSpec.crud=='U'" @change="changeGuarNoSpec()">
									<option value="">전체</option>
									<option v-for="item in code.guarNoListSpec" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
								</select>
							</div>
							<div class="col-xs-4" style="padding-left: 0px;">
								<select id="stdtNoSpec" name="stdtNo" class="form-control" v-model="locInfoSpec.stdtNo" :disabled="locInfoSpec.rdGorgGuarDivSpec!='GUAR' || locInfoSpec.crud=='U'" @change="changeStdtNoSpec()">
									<option value="">전체</option>
									<option v-for="item in code.stdtNoListFilterSpec" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
								</select>
							</div>
						</div>
						<div class="float_right col-xs-7">
							<button class="btn btn-secondary" v-on:click="resetSearchParamSpecRe()" type="button">
								<span class="glyphicon glyphicon-refresh"> 추가</span>
							</button>
							<button class="btn btn-secondary" v-on:click="resetSearchParamSpec()" type="button">
								<span class="glyphicon glyphicon-refresh"> 상세정보초기화</span>
							</button>
							<button type="button" id="btnLocMark" class="btn btn-outline btn-primary ladda-button mg_left_10" data-style="zoom-in" @click="setMarking()"> 장소마킹</button>
							<button type="button" id="btnLocInfoSpecReg" class="btn btn-outline btn-primary ladda-button mg_left_10" data-style="zoom-in" v-on:click="regLocInfoSpec()">&nbsp;&nbsp;&nbsp;&nbsp;저장&nbsp;&nbsp;&nbsp;</button>
							<button type="button" id="btnLocInfoSpecDel" class="btn btn-outline btn-primary ladda-button mg_left_10" data-style="zoom-in" v-on:click="delLocInfoSpec()">&nbsp;&nbsp;&nbsp;&nbsp;삭제&nbsp;&nbsp;&nbsp;</button>
						</div>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<div class="col-xs-4">
								자료구분<br>
								<input type="radio" v-icheck name="rdGorgGuarDivSpec" v-model="locInfoSpec.rdGorgGuarDivSpec" value="GORG" :disabled="locInfoSpec.crud=='U'" v-on:click="changeGorgNoSpec()"/><span>&nbsp;&nbsp;공공데이터&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<input type="radio" v-icheck name="rdGorgGuarDivSpec" v-model="locInfoSpec.rdGorgGuarDivSpec" value="GUAR" :disabled="locInfoSpec.crud=='U'" v-on:click="changeGuarNoSpec()"/><span>&nbsp;&nbsp;보호자지정</span>
								<br><br>
								위치번호
								<input type="text" name ="locNo" class="form-control" v-model="locInfoSpec.locNo" :disabled="true">
								위치명
								<input id="locInfoSpecLocNm" type="text" name ="locNm" class="form-control" v-model="locInfoSpec.locNm" v-on:input="input_lenth">
								장소구분
								<select name="plcClssCd" class="form-control" v-model="locInfoSpec.plcClssCd" @change ="changePlcClssCdSpec()">
									<option value="">전체</option>
									<option v-for="item in code.plcClssCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
								</select>
								장소구분상세
								<select name="plcCd" class="form-control" v-model="locInfoSpec.plcCd" @change ="changePlcCdSpec()">
									<option value="">전체</option>
									<option v-for="item in code.plcCdListFilterSpec" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
								</select>
								위도
								<input type="text" name ="latVal" class="form-control" v-model="locInfoSpec.latVal" :disabled="true">
								경도
								<input type="text" name ="lonVal" class="form-control" v-model="locInfoSpec.lonVal" :disabled="true">
								유효반경 (Meter)
								<input type="text" name ="valdRngeDist" class="form-control" v-model="locInfoSpec.valdRngeDist" :disabled="true">
								주소
								<input type="text" name ="pstno" class="form-control" v-model="locInfoSpec.pstno" :disabled="true">
								<input type="text" name ="addrBase" class="form-control" v-model="locInfoSpec.addrBase" :disabled="true">
								<input id="locInfoSpecAddrSpec" type="text" name ="addrSpec" class="form-control" v-model="locInfoSpec.addrSpec" v-on:input="input_lenth">
							</div>
							<div id="locInfoMngMap" style="width:700px;height:520px;"></div>
							<div class="button-group">
								<input type="range" class="prog" v-show="draw.cntrPos!==null" v-model="draw.dist" min="3" max="2000" style="width:650px;height:50px; background-color: #434343;"/>
								<div v-show="draw.cntrPos!==null">{{draw.dist}}m</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 결과 리스트 영역 끝 -->
	</div>
	<div th:insert="~{svcStnd/loc/locStdtGuarPopup :: body}"></div> <!-- 학생 및 보호자 검색 팝업 -->
</div>
<section layout:fragment="user_script">
	<script type="text/javascript" th:src="@{/js/svcStnd/loc/locInfoMng.js}"></script>
	<script type="text/javascript" th:src="@{/js/svcStnd/loc/locStdtGuarPopup.js}"></script> <!-- 학생 및 보호자 검색 팝업 -->
	<!-- kakaoMap services 라이브러리 불러오기 -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e9404310d886e0de8d93c2409516f9c0&libraries=services"></script>
</section>
</body>
</html>
