<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:remove="tag">
<div class="modal fade" id="termInfoDetlPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog-wrap">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="width: 850px; height: 630px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="ibox-title">
						<i class="fa fa-title-bar"></i>
						<h5>성장판정기준 정보</h5>
					</div>
				</div>
				<div class="modal-body">
					<div class="ibox-content border-style_none">
						<table class="table table-bordered table_view">
		                    <colgroup>
		                        <col class="col-xs-2" />
		                        <col class="col-xs-10" />
		                    </colgroup>
		                    <tbody>
			                    <tr>
			                        <th scope="row">약관구분코드</th>
			                        <td>
										<select id="termDivCd" name="termDivCd" class="form-control" v-model="termInfoMngInfo.termDivCd" :disabled="termInfoMngInfo.crud=='U'">
											<option value="">선택</option>
											<option v-for="item in code.termInfoList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
										</select>
			                        </td>
			                    </tr>
			                    <tr>
			                        <th scope="row">약관버전</th>
			                        <td>
			                        	<input type="number" id="termVer" name="termVer" v-model="termInfoMngInfo.termVer" class="form-control" maxlength="10"/>
			                        </td>
			                    </tr>
			                    <tr>
			                        <th scope="row">적용시작일자</th>
			                        <td>
			                        	<input type="text" id="aplyStrtDt" name="aplyStrtDt" v-model="termInfoMngInfo.aplyStrtDt" class="form-control" maxlength="10"/>
			                        </td>
			                    </tr>
			                    <tr>
			                        <th scope="row">약관내용</th>
			                        <td>
										<div class="mg_top_10">
											<summer-note
													v-model="termInfoMngInfo.termCntn"
													ref="termCntn"
													:options="{height:100, notUseVideo:true, maxImageWidth: 1280}"/>
										</div>
			                        </td>
			                    </tr>
			                    <tr>
									<th scope="row">필수내용</th>
									<td>
										<div class="col-xs-2" style="padding: 5px 0;">
											<input type="radio" name="essnYn"  v-model="termInfoMngInfo.essnYn" value="Y" checked="checked">&nbsp;Y
											&nbsp;
											<input type="radio" name="essnYn"  v-model="termInfoMngInfo.essnYn" value="N"> N
										</div>
									</td>


			                    </tr>
							</tbody>
		                </table>
            		</div>
            	</div>
            	<div class="modal-footer" style="">
					<div class="text-center">
						<div class="disp_in_block width_per_20 mg_right_15">
							<button type="button" class="btn btn-outline btn-primary form-control" v-on:click="saveInfo">저장</button>
						</div>
						<div v-if="termInfoMngInfo.crud=='U'" class="disp_in_block width_per_20 mg_right_15">
							<button type="button" class="btn btn-outline btn-primary form-control" v-on:click="deleteInfo">삭제</button>
						</div>
						<div class="disp_in_block width_per_20">
							<input type="button" data-dismiss="modal" class="form-control" th:value="닫기">
						</div>
					</div>
				</div>			
            </div>
        </div>
    </div>
</div>
