<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:v-bind="http://www.w3.org/1999/xhtml"
	  xmlns:v-on="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{common/layout/defaultLayout}">
<head>
	<meta charset="UTF-8">
	<title>위험안전지역 발생현황</title>
</head>
<body>
<div layout:fragment="content">
	<div class="wrapper-content" id="dszoneHist">

		<!-- 검색조건 영역 시작 -->
		<div class="ibox m-b-sm">
			<div class="ibox-title">
				<i class="fa fa-title-bar"></i>
				<h5>검색조건</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-1 control-label" >발생일자</label>
						<div class="col-xs-1" style="width: 10%;padding-right: 0px">
							<div class="input-group date" id="entrDtFrPicker">
								<input type="text" id="entrDtFr" name="entrDtFr" v-model="params.entrDtFr" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<div class="col-xs-1" style="width: 10%;padding-left: 0px;padding-right: 0px;">
							<div class="float_left width_20 mg_top_8 text-center">~</div>
							<div class="input-group date" id="entrDtToPicker">
								<input type="text" id="entrDtTo" name="entrDtTo" v-model="params.entrDtTo" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<!--이번 달-->
						<div class="col-xs-1" style="padding:0px; margin-left:5px; margin-right:5px;" >
							<select id="mmDd" name="mmDd" class="form-control" style=" margin-right:15px;" v-model="params.mmDd" v-on:change="mmDdSelect">
								<option value="">전체</option>
								<option v-for="item in code.mmDdList" v-bind:value="item.value" v-text="item.text"></option>
							</select>
						</div>
						<label class="col-xs-1 control-label">장소구분</label>
						<div class="col-xs-1" style="padding:0px; margin-right:5px;">
							<select id="plcClssCd" name="plcClssCd" class="form-control" v-model="params.plcClssCd" @change ="changePlcClssCd()">
								<option value="">전체</option>
								<option v-for="item in code.plcClssCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
							</select>
						</div>
						<label class="col-xs-1 control-label">위치명</label>
						<div class="col-xs-1" style="width: 10%">
							<input type="text" name="locNm" class="form-control"  v-model="params.locNm">
						</div>
						<button type="button" id="btn3" class="btn btn-outline btn-primary ladda-button mg_left_10 height_34" style="margin-left:-6px" data-style="zoom-in" data-toggle="modal" data-target="#locSearchPopup" v-on:click="locSearchDetlPopup"><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
					<div class="form-group">
						<div class="clear_both"></div>
						<label class="col-xs-1 control-label">보호자명</label>
						<div class="col-xs-1"  style="width: 10%">
							<input type="text" name="guarNm" class="form-control" v-model="params.guarNm">
						</div>
						<label class="col-xs-1 control-label" style="width: 10%">보호자번호</label>
						<div class="col-xs-1" style="padding:0px; margin-right:5px; margin-left:5px;">
							<input type="number" name="guarNo" class="form-control" v-model="params.guarNo">
						</div>
						<label class="col-xs-1 control-label">학생명</label>
						<div class="col-xs-1" style="padding:0px; margin-right:5px;">
							<input type="text" name="stdtNm" class="form-control"  v-model="params.stdtNm">
						</div>
						<label class="col-xs-1 control-label">학생번호</label>
						<div class="col-xs-1" style="width: 10%">
							<input type="number" name="stdtNo" class="form-control" v-model="params.stdtNo">
						</div>
						<button type="button" id="btn2" class="btn btn-outline btn-primary ladda-button mg_left_10 height_34" style="margin-left:-6px" data-style="zoom-in" data-toggle="modal" data-target="#stdtGuarPopup" v-on:click="stdtGuarDetlPopup"><i class="fa fa-search" aria-hidden="true"></i></button>
					</div>
					<div class="form-group">
					<label class="col-xs-1 control-label">위치지정명</label>
					<div class="col-xs-3">
						<input type="radio" name="rdPublGuarDiv" v-icheck v-model="params.locApntCd" value="" /><span style="margin-right:5px;">&nbsp;&nbsp;전체&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<input type="radio" name="rdPublGuarDiv" v-icheck v-model="params.locApntCd" value="GORG"/><span>&nbsp;&nbsp;공공기관&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<input type="radio" name="rdPublGuarDiv" v-icheck v-model="params.locApntCd" value="GUAR"/><span>&nbsp;&nbsp;보호자지정</span>
					</div>
					</div>
					<div class="form-group mg_none">
						<div class="text-center">
							<button class="btn btn-secondary" v-on:click="resetSearchParam()" type="button">
								<span class="glyphicon glyphicon-refresh"> 초기화</span>
							</button>&nbsp;
							<button type="button" class="btn btn-w-m btn-primary" v-on:click="searchLocInfoList(true)"><span>조회</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 검색조건 영역 끝 -->

		<!-- 결과 리스트 영역 시작-->
		<div class="row">
			<div class="col-xs-7">
				<div class="ibox-title">
					<i class="fa fa-title-bar"></i>
					<h5>위험안전지역 발생현황</h5>
					<div class="float_right">
						<button type="button" class="btn btn-outline btn-primary ladda-button mg_left_10" data-style="zoom-in" v-on:click="downloadExcelLocInfoList"><i class="fa fa-file-excel-o"></i>&nbsp;엑셀다운로드</button>
					</div>
				</div>
				<div class="ibox-content">
					<div class="form-group">
						<div id="locInfo_list_wrapper">
							<table id="locInfo_list"></table>
							<div id="locInfo_pager_list"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-5">
				<div class="ibox">
					<div class="ibox-title">
						<i class="fa fa-title-bar"></i>
						<h5>상세 정보</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							
							<div id="locInfoMngMap" style="width:650px;height:420px;"></div>
<!-- 							<div class="button-group">
								<input type="range" class="prog" v-show="draw.cntrPos!==null" v-model="draw.dist" min="20" max="2000" style="width:650px;height:50px; background-color: #434343;"/>
								<div v-show="draw.cntrPos!==null">{{draw.dist}}m</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 결과 리스트 영역 끝 -->
	</div>
	<div th:insert="~{popup/stdtGuarPopup     :: body}"></div> <!--학생/학부모 검색 팝업-->
	<div th:insert="~{popup/locSearchPopup     :: body}"></div> <!--교육시설 검색 팝업-->
</div>
<section layout:fragment="user_script">
	<!-- kakaoMap services 라이브러리 불러오기 -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e9404310d886e0de8d93c2409516f9c0&libraries=services"></script>
	<script type="text/javascript" th:src="@{/js/oper/dgem/dszoneHist.js}"></script>
	<script type="text/javascript" th:src="@{/js/popup/stdtGuarPopup.js}"></script> <!--학생/학부모 검색 팝업-->
	<script type="text/javascript" th:src="@{/js/popup/locSearchPopup.js}"></script> <!--교육시설 검색 팝업-->
</section>
</body>
</html>
