<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:v-bind="http://www.w3.org/1999/xhtml"
	  xmlns:v-on="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{common/layout/defaultLayout}">
<head>
	<meta charset="UTF-8">
	<title>공공안전지역 탐지현황</title>
</head>
<body>
<div layout:fragment="content">
	<div class="wrapper-content" id="porgZoneStat">

		<!-- 검색조건 영역 시작 -->
		<div class="ibox m-b-sm">
			<div class="ibox-title">
				<i class="fa fa-title-bar"></i>
				<h5>검색조건</h5>
				<div class="ibox-tools">
					<a class="collapse-link">
						<i class="fa fa-chevron-up"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<div class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-1 control-label" >위험감정 일자</label>
						<div class="col-xs-1" style="width: 10%">
							<div class="input-group date" id="entrDtFrPicker">
								<input type="text" id="entrDtFr" name="entrDtFr" v-model="params.entrDtFr" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<div class="col-xs-1" style="width: 10%">
							<div class="input-group date" id="entrDtToPicker">
								<input type="text" id="entrDtTo" name="entrDtTo" v-model="params.entrDtTo" class="form-control">
								<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
							</div>
						</div>
						<!--이번 달-->
						<div class="col-xs-1" style="padding:0px; margin-right:5px;" >
							<select id="mmDd" name="mmDd" class="form-control" style=" margin-right:15px;" v-model="params.mmDd" v-on:change="mmDdSelect">
								<option value="">전체</option>
								<option v-for="item in code.mmDdList" v-bind:value="item.value" v-text="item.text"></option>
							</select>
						</div>
						<label class="col-xs-1 control-label">장소명</label>
						<div class="col-xs-1" style="width: 12%">
							<select id="wordHead1" name="wordHead1" class="form-control" v-model="params.wordHead1" @change="changeWordHead1()">
								<option value="">전체</option>
								<option v-for="item in code.wordHead1List" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
							</select>
						</div>
						<div class="col-xs-1" style="width: 12%">
							<select id="wordHead2" name="wordHead2" class="form-control" v-model="params.wordHead2" @change="changeWordHead2()">
								<option value="">전체</option>
								<option v-for="item in code.wordHead2ListFilter" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
							</select>
						</div>
						<div class="col-xs-1" style="width: 12%">
							<input id="addrSpec" type="text" name ="addrSpec" class="form-control" v-model="params.addrSpec" v-on:input="input_lenth">
						</div>
						<label class="col-xs-1 control-label" style="margin-left: -30px;">장소구분</label>
						<div class="col-xs-1" style="padding:0px; margin-right:5px;">
							<select id="plcClssCd" name="plcClssCd" class="form-control" v-model="params.plcClssCd" @change ="changePlcClssCd()">
								<option value="">전체</option>
								<option v-for="item in code.plcClssCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
							</select>
						</div>
					</div>
					<div class="form-group">

					</div>
					<div class="form-group mg_none">
						<div class="text-center">
							<button class="btn btn-secondary" v-on:click="resetSearchParam()" type="button">
								<span class="glyphicon glyphicon-refresh"> 초기화</span>
							</button>&nbsp;
							<button type="button" class="btn btn-w-m btn-primary" v-on:click="searchLocInfoList(true)"><span>조회</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 검색조건 영역 끝 -->

		<!-- 결과 리스트 영역 시작-->
		<div class="row">
			<div class="col-xs-4">
				<div class="ibox-title">
					<i class="fa fa-title-bar"></i>
					<h5>공공안전지역 탐지현황</h5>
					<div class="float_right">
						<button type="button" class="btn btn-outline btn-primary ladda-button mg_left_10" data-style="zoom-in" v-on:click="downloadExcelLocInfoList"><i class="fa fa-file-excel-o"></i>&nbsp;엑셀다운로드</button>
					</div>
				</div>
				<div class="ibox-content">
					<div class="form-group">
						<div id="locInfo_list_wrapper">
							<table id="locInfo_list"></table>
							<div id="locInfo_pager_list"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-8">
				<div class="ibox">
					<div class="ibox-title">
						<i class="fa fa-title-bar"></i>
						<h5>상세 정보</h5>
					</div>
					<div class="ibox-content">
						<div class="form-group">
							<div class="col-xs-4">
								<b>자료구분</b>
								<input type="radio" name="rdPublGuarDivSpec" v-model="locInfoSpec.rdPublGuarDivSpec" value="publ" :disabled="locInfoSpec.crud=='U'"/><span>&nbsp;&nbsp;공공데이터&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
								<input type="radio" name="rdPublGuarDivSpec" v-model="locInfoSpec.rdPublGuarDivSpec" value="prnt" :disabled="locInfoSpec.crud=='U'" v-on:click="changePrntNoSpec()"/><span>&nbsp;&nbsp;학부모지정</span>
								<br>
								<b>위치번호</b>
								<input type="text" name ="locNo" class="form-control" v-model="locInfoSpec.locNo" :disabled="true">
								<b>위치명</b>
								<input id="locInfoSpecLocNm" type="text" name ="locNm" class="form-control" v-model="locInfoSpec.locNm" v-on:input="input_lenth" :disabled="true">
								<b>장소구분</b>
								<select name="plcClssCd" class="form-control" v-model="locInfoSpec.plcClssCd" @change ="changePlcClssCdSpec()" :disabled="true">
									<option value="">전체</option>
									<option v-for="item in code.plcClssCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
								</select>
								<b>장소구분상세</b>
								<select name="plcCd" class="form-control" v-model="locInfoSpec.plcCd" @change ="changePlcCdSpec()" :disabled="true">
									<option value="">전체</option>
									<option v-for="item in code.plcCdListFilterSpec" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
								</select>
								<b>위도</b>
								<input type="text" name ="latVal" class="form-control" v-model="locInfoSpec.latVal" :disabled="true">
								<b>경도</b>
								<input type="text" name ="lonVal" class="form-control" v-model="locInfoSpec.lonVal" :disabled="true">
								<b>유효반경 (Meter)</b>
								<input type="text" name ="valdRngeDist" class="form-control" v-model="locInfoSpec.valdRngeDist" :disabled="true">
								<b>주소</b>
								<input type="text" name ="pstno" class="form-control" v-model="locInfoSpec.pstno" :disabled="true">
								<input type="text" name ="addrBase" class="form-control" v-model="locInfoSpec.addrBase" :disabled="true">
								<input id="locInfoSpecAddrSpec" type="text" name ="addrSpec" class="form-control" v-model="locInfoSpec.addrSpec" v-on:input="input_lenth">
							</div>
							<div id="locInfoMngMap" style="width:650px;height:420px;"></div>
							<div class="button-group">
								<input type="range" class="prog" v-show="draw.cntrPos!==null" v-model="draw.dist" min="20" max="2000" style="width:650px;height:50px; background-color: #434343;"/>
								<div v-show="draw.cntrPos!==null">{{draw.dist}}m</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 결과 리스트 영역 끝 -->
	</div>
</div>
<section layout:fragment="user_script">
	<!-- kakaoMap services 라이브러리 불러오기 -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e9404310d886e0de8d93c2409516f9c0&libraries=services"></script>
	<script type="text/javascript" th:src="@{/js/oper/dgem/porgZoneStat.js}"></script>
</section>
</body>
</html>