<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layout/defaultLayout}">
<body th:remove="tag">
<div class="modal fade" id="stdtGuarDetlPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
	<div class="modal-dialog-wrap">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="width: 500px; padding-bottom: 20px; z-index:1041;" >
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="ibox-title">
						<i class="fa fa-title-bar"></i>
						<h5>학생 및 보호자 정보 조회</h5>
					</div>
				</div>
				<div class="modal-body">
					<div class="ibox-content border-style_none">
						<table class="table table-bordered table_view">
							<colgroup>
								<col class="col-xs-4" />
								<col class="col-xs-8" />
							</colgroup>
							<tbody>
							<tr>
								<th scope="row">학생번호</th>
								<td>
									<input type="text" name="userNm"  class="form-control ime-han" maxlength="40" v-model="params.stdtNo"/>
								</td>
							</tr>
							<tr>
								<th scope="row">학생명</th>
								<td>
									<input type="text" id="userPw" name="userPw"  class="form-control" maxlength="100" v-model="params.stdtNm"/>
								</td>
							</tr>
							<tr>
								<th scope="row">보호자번호</th>
								<td>
									<input type="text" id="blngNm" name="blngNm"  class="form-control" maxlength="100" v-model="params.guarNo"/>
								</td>
							</tr>
							<tr>
								<th scope="row">보호자명</th>
								<td>
									<input type="text" id="blnNm" name="blngNm"  class="form-control" maxlength="100" v-model="params.guarNm"/>
								</td>
							</tr>
							<tr>
								<th scope="row">보호자 전화번호</th>
								<td>
									<input type="text" id="guarTelNo" name="guarTelNo"  class="form-control" maxlength="100" v-model="params.guarTelNo"/>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<!-- 결과 리스트 영역 -->
				<div class="ibox">
					<div class="ibox-content">
						<div class="form-group">
							<div class="float_left">
								<div class="ibox-title pd_none mg_top_10" style="min-height: 0px;">
									<i class="fa fa-title-bar"></i>
									<h5>학생정보 목록</h5>
								</div>
							</div>
							<div class="clear_both"></div>
						</div>
						<div class="form-group">
							<div id="stdtguar_list_wrapper">
								<table id="stdtguar_list"></table>
								<div id="stdtguar_pager_list"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer" style="">
					<div class="text-center">
						<div class="disp_in_block width_per_20 mg_right_15">
							<button type="button" class="btn btn-w-m btn-primary" v-on:click="searchStdtGuarList(true)"><span>조회</span></button>
						</div>
						<div class="disp_in_block width_per_20">
							<input type="button" data-dismiss="modal" class="form-control" v-on:click="resetSearchParam()" th:value="닫기">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>