<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:remove="tag">
<div class="modal fade" id="prntInfoDetlPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog-wrap">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="width: 580px; height: 510px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="ibox-title">
						<i class="fa fa-title-bar"></i>
						<h5>밴드 정보</h5>
					</div>
				</div>
				<div class="modal-body">
					<div class="ibox-content border-style_none">
						<table class="table table-bordered table_view">
		                    <colgroup>
		                        <col class="col-xs-4" />
		                        <col class="col-xs-8" />
		                    </colgroup>
		                    <tbody>
			                    <tr>
			                        <th scope="row">보호자 번호</th>
									<td>
										<div>
											<input type="text" name="guarNo" v-model="params.guarNo" class="form-control float_left width_per_60 ime-eng" :readonly="params.crud=='U'"/>
										</div>
									</td>
								</tr>
			                    <tr>
			                        <th scope="row">보호자 이름</th>
									<td>
										<div>
											<input type="text" name="guarNm" v-model="params.guarNm" class="form-control float_left width_per_60 ime-eng" :readonly="params.crud=='U'"/>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">보호자 전화 번호</th>
									<td>
										<input type="text" name=guarTelNo v-model="params.guarTelNo" class="form-control float_left width_per_100 ime-eng" v-on:input="nanCk(event)" maxlength="11" placeholder=" '-' 를 제외하고 입력해주세요"/>
									</td>
			                    </tr>
								<tr>
									<th scope="row">보호자 비밀번호</th>
									<td>
										<input type="text" name="guarPw" v-model="params.guarPw" class="form-control float_left width_per_100 ime-eng" v-on:input="nanCk(event)"/>
									</td>
								</tr>
								<tr>
									<th scope="row">본인 인증 일시</th>
									<td>
										<input type="text" name="selfCertDttm" v-model="params.selfCertDttm" class="form-control float_left width_per_100 ime-eng"/>
									</td>
								</tr>
								<tr>
									<th scope="row">자동 로그인 여부</th>
									<td>
										<select id="autoLoginYn" namd="autoLoginYn" class="form-control" v-model="params.autoLoginYn">
											<option value="">선택</option>
											<option v-for="item in code.autoLoginYnList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
										</select>
										<input type="text" name="autoLoginYn" v-model="params.autoLoginYn" class="form-control float_left width_per_100 ime-eng"/>
									</td>
								</tr>
								<tr>
									<th scope="row">장치 인증 값</th>
									<td>
										<input type="text" name="selfCertDttm" v-model="params.selfCertDttm" class="form-control float_left width_per_100 ime-eng"/>
									</td>
								</tr>								
								<tr>
									<th scope="row">인종 구분 코드</th>
									<td>
										<select id="bandYtypCd2" namd="bandOpenStatCd" class="form-control float_left width_per_100 ime-eng" v-model="params.bandOpenStatCd">
											<option value="">선택</option>
											<option v-for="item in code.bandOpenStatCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
										</select>
									</td>
								</tr>
								<tr>
									<th scope="row">성별 코드</th>
									<td>
										<select id="bandYtypCd2" namd="bandOpenStatCd" class="form-control float_left width_per_100 ime-eng" v-model="params.bandOpenStatCd">
											<option value="">선택</option>
											<option v-for="item in code.bandOpenStatCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
										</select>
									</td>
								</tr>
								<tr>
									<th scope="row">키</th>
									<td>
										<input type="text" name="blthId" v-model="params.blthId" class="form-control float_left width_per_100 ime-eng" maxlength="10"/>
									</td>
								</tr>
								<tr>
									<th scope="row">체중</th>
									<td>
										<input type="text" name="blthId" v-model="params.blthId" class="form-control float_left width_per_100 ime-eng" maxlength="10"/>
									</td>
								</tr>
								<tr>
									<th scope="row">BMI</th>
									<td>
										<input type="text" name="blthId" v-model="params.blthId" class="form-control float_left width_per_100 ime-eng" maxlength="10"/>
									</td>
								</tr>

							</tbody>
		                </table>
            		</div>
            	</div>
            	<div class="modal-footer" style="">
					<div class="text-center">
						<div class="disp_in_block width_per_20 mg_right_15">
							<button type="button" class="btn btn-outline btn-primary form-control" v-on:click="saveBandOpenInfoDetl">저장</button>
						</div>
						<div v-if="params.crud=='U'" class="disp_in_block width_per_20 mg_right_15">
							<button type="button" class="btn btn-outline btn-primary form-control" v-on:click="deleteUser">삭제</button>
						</div>
						<div class="disp_in_block width_per_20">
							<input type="button" data-dismiss="modal" class="form-control" th:value="닫기">
						</div>
					</div>
				</div>			
            </div>
        </div>
    </div>
</div>
