<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:remove="tag">
<div class="modal fade" id="prntInfoDetlPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog-wrap">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="width: 580px; padding-bottom: 20px;">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="ibox-title">
						<i class="fa fa-title-bar"></i>
						<h5>학부모 정보</h5>
					</div>
				</div>
				<div class="modal-body">
					<div class="ibox-content border-style_none">
						<table class="table table-bordered table_view">
							<colgroup>
								<col class="col-xs-4" />
								<col class="col-xs-8" />
							</colgroup>
							<tbody>
								<tr>
									<th scope="row">학생 번호</th>
									<td>
										<input type="text" name="stdtNo" v-model="params.stdtNo" class="form-control float_left width_per_100 ime-eng" readonly="readonly"/>
									</td>
								</tr>
								<tr>
									<th scope="row">학생 이름</th>
									<td>
										<div>
											<input type="text" name="stdtNm" v-model="params.stdtNm" class="form-control float_left width_per_100 ime-eng" readonly="readonly"/>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">학부모 번호</th>
									<td>
										<input type="text" name=prntNo v-model="params.prntNo" class="form-control float_left width_per_100 ime-eng" readonly="readonly"/>
									</td>
								</tr>
								<tr>
								<tr>
									<th scope="row">학부모 이름</th>
									<td>
										<input type="text" name=prntNm v-model="params.prntNm" class="form-control float_left width_per_100 ime-eng"/>
									</td>
								</tr>
								<tr>
									<th scope="row">성별 코드</th>
									<td>
										<input type="text" name="sexCd" v-model="params.sexCd"  class="form-control float_left width_per_100 ime-eng" readonly="readonly"/>
									</td>
								</tr>
								<tr>
									<th scope="row">키</th>
									<td>
										<input type="text" name="hghtVal" v-model="params.hghtVal" class="form-control float_left width_per_100 ime-eng" v-on:input="nanCk(event)"/>
									</td>
								</tr>
								<tr>
									<th scope="row">체중</th>
									<td>
										<input type="text" name="wghtVal" v-model="params.wghtVal" class="form-control float_left width_per_100 ime-eng" v-on:input="nanCk(event)"/>
									</td>
								</tr>
								<tr>
								<tr>
									<th scope="row">BMI</th>
									<td>
										<input type="text" name="bmiVal" v-model="params.bmiVal" class="form-control float_left width_per_100 ime-eng" v-on:input="nanCk(event)"/>
									</td>
								</tr>
								<tr>
									<th scope="row">인종 구분 코드</th>
									<td>
										<select id="raceDivCd" name="raceDivCd" class="form-control float_left width_per_100 ime-eng" v-model="params.raceDivCd">
											<option value="">선택</option>
											<option v-for="item in code.raceDivCdList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
										</select>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
            	</div>
            	<div class="modal-footer">
					<div class="text-center">
						<div class="disp_in_block width_per_20 mg_right_15">
							<button type="button" class="btn btn-outline btn-primary form-control" v-on:click="">저장</button>
						</div>
<!--						<div v-if="params.crud=='U'" class="disp_in_block width_per_20 mg_right_15">
							<button type="button" class="btn btn-outline btn-primary form-control" v-on:click="deleteUser">삭제</button>
						</div>-->
						<div class="disp_in_block width_per_20">
							<input type="button" data-dismiss="modal" class="form-control" th:value="닫기">
						</div>
					</div>
				</div>			
            </div>
        </div>
    </div>
</div>
