<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body th:remove="tag">
<div class="modal fade" id="nutrStatStndDetlPopup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog-wrap">
		<div class="modal-dialog" role="document">
			<div class="modal-content" style="width: 850px; height: 775px">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="ibox-title">
						<i class="fa fa-title-bar"></i>
						<h5>영양소섭취상태 정보</h5>
					</div>
				</div>
				<div class="modal-body">
					<div class="ibox">
						<div class="ibox-content border-style_none">
							<div class="form-group">
								<div id="nutrStat_list_wrapper">
									<table id="nutrStat_list"></table>
									<div id="nutrStat_pager_list"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="ibox">
					<div class="ibox-content border-style_none">
						<table class="table table-bordered table_view">
		                    <colgroup>
		                        <col class="col-xs-2" />
		                        <col class="col-xs-10" />
		                    </colgroup>
		                    <tbody>
							    <button type="button" class="btn btn-w-m btn-primary float_right mg_btm_10" v-on:click="btnNew"><span>신규</span></button>
			                    <tr>
			                        <th scope="row">영양소코드</th>
			                        <td>
										<select id="nutrCd" name="nutrCd" class="form-control" v-model="params.nutrCd" :disabled="params.crud=='U' ||  params.crud=='C'">
											<option value="">선택</option>
											<option v-for="item in code.nutrList" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
										</select>
			                        </td>
			                    </tr>
			                    <tr>
			                        <th scope="row">영양소섭취 상태코드</th>
			                        <td>
										<select id="nutrStatCd" name="nutrStatCd" class="form-control" v-model="params.nutrStatCd" :disabled="params.crud=='U'">
											<option value="">선택</option>
											<option v-for="item in code.nutrStatCd" v-bind:value="item.cdVal" v-text="item.cdNm"></option>
										</select>
			                        </td>
			                    </tr>
			                    <tr>
			                        <th scope="row">영양섭취 비고</th>
			                        <td>
										<div class="mg_top_10">
											<summer-note
													v-model="params.nutrRmrk"
													ref="nutrRmrk"
													:options="{height:100, notUseVideo:true, maxImageWidth: 1280}"/>
										</div>
			                        </td>
			                    </tr>
							</tbody>
		                </table>
            		</div>
            	</div>
				</div>
            	<div class="modal-footer" style="">
					<div class="text-center">
						<div class="disp_in_block width_per_20 mg_right_15">
							<button type="button" class="btn btn-outline btn-primary form-control" v-on:click="saveInfo">저장</button>
						</div>
						<div v-if="params.crud=='U'" class="disp_in_block width_per_20 mg_right_15">
							<button type="button" class="btn btn-outline btn-primary form-control" v-on:click="delInfo">삭제</button>
						</div>
						<div class="disp_in_block width_per_20">
							<input type="button" data-dismiss="modal" class="form-control" th:value="닫기">
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>
